# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# AWS / secrets
.aws/
*.pem
*.key
credentials
.env
.env.*

# OS / editor
.DS_Store
Thumbs.db
*.swp
